[Desktop Entry]
Comment=Elegant clean Plasma theme based on Adwaita color scheme

Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Name=Adwaita Dark KDE

Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Josh Freeno
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=freefreeno81@gmail.com
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Adwaita-Dark-KDE
X-KDE-PluginInfo-Version=5.63.0
X-KDE-PluginInfo-Website=https://github.com/freefreeno/Materia-Manjaro
X-KDE-fallbackPackage=org.kde.breeze.desktop
X-Plasma-MainScript=defaults
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1335330,kns://plasma-themes.knsrc/api.kde-look.org/1335337,kns://icons.knsrc/api.kde-look.org/1335336,kns://wallpaper.knsrc/api.kde-look.org/1335215,kns://wallpaper.knsrc/api.kde-look.org/1335214
