.grive
.local/bin/acli
.local/bin/loophole
quickfix-*
Session.vim

# noctalia plugins: only track settings, ignore all else
.config/noctalia/plugins/**/*
!.config/noctalia/plugins/**/
!.config/noctalia/plugins/**/settings.json
