.grive
.local/bin/acli
.local/bin/loophole
quickfix-*
Session.vim

# noctalia & plugins: only track settings, ignore all else
.config/noctalia/**
!.config/noctalia/custom/
!.config/noctalia/custom/**
!.config/noctalia/plugins/
.config/noctalia/plugins/**/*
!.config/noctalia/plugins/**/
!.config/noctalia/plugins/**/settings.json

# codex: only track rules/AGENTS.md and non-hidden folders in rules/skills
.codex/**
!.codex/rules/
.codex/rules/**
!.codex/rules/AGENTS.md
!.codex/skills/
.codex/skills/**
!.codex/skills/[!.]*/
!.codex/skills/[!.]*/**
/.config/noctalia/custom/rates.sh
