* {
  border: none;
  border-radius: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
  min-height: 0;
}

* {
  font-family: "Symbols Nerd Font", "Inter", sans-serif;
}

window#waybar {
  background: rgba(43, 48, 59, 0.3);
  /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
  color: white;
}

tooltip {
  background: rgba(33, 38, 49, 0.95);
  border: 1px solid rgba(100, 114, 125, 0.5);
  border-radius: 8px;

}

tooltip label {
  color: white;
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: white;
  border-bottom: 3px solid transparent;
}

#workspaces button.active {
  background: #64727D;
  /* border-bottom: 3px solid white; */
}

#mode,
#clock,
#custom-weather,
#tray,
#custom-crypto,
#devices,
#screens,
#power {
  padding: 0 10px;
}

#custom,
#custom-weather,
#screens,
#power,
#devices {
  /* margin-left: 10px; */
  border-right: 3px solid rgba(255, 255, 255, 0.25);
}

#custom *,
#power *,
#devices * {
  padding: 0 5px;
  margin: 4px 5px;
}

#screens * {
  padding-bottom: 3px;
  padding-left: 3px;
}

#custom-powerprofile {
  padding-bottom: 2px;
}

#custom-powerprofile.performance {
  color: #FF8888;
}

#custom-powerprofile.balanced {
  color: white;
}

#custom-powerprofile.power-saver {
  color: #AAAAFF;
}

#tray * {
  padding: 0 4px;
}

#mode {
  background: #64727D;
  border-bottom: 3px solid white;
}

#battery.charging {
  color: white;
  background-color: #26A65B;
}

/* #battery:not(.charging) { */
/* color: #f5ac9c; */
/* color: white; */
/* } */

#battery.warning {
  background: orange;
}

#battery.critical {
  background: red;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#battery.warning:not(.charging) {
  background: #f53c3c;
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
