[Desktop Entry]
Comment=Dark Industrial
Name=Psion
X-KDE-PluginInfo-Author=Phobian347
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=phobian@tutanota.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=Psion
X-KDE-PluginInfo-Version=6.6
X-KDE-PluginInfo-Website=https://www.pling.com/u/phob1an
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KPackage-Dependencies=kns://aurorae.knsrc/api.kde-look.org/1235540,kns://colorschemes.knsrc/api.kde-look.org/1235544,kns://plasma-themes.knsrc/api.kde-look.org/1235513,kns://icons.knsrc/api.kde-look.org/1305826,kns://sddmtheme.knsrc/api.kde-look.org/1688188
