
#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=GitHub - dotfiles (Firefox)
Exec=firefox --new-window https://github.com/danielres/dotfiles
Icon=firefox
Terminal=false
Categories=Network;GitHub;
