#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Notion (Firefox)
Exec=firefox -P "default" -new-window https://www.notion.so
Icon=firefox
Terminal=false
Categories=Network;PKM;
