#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=waifu2x
Exec=google-chrome-stable --profile-directory=Default --app-id=majalpbeghfbhhndgamaibgcafogimma
Icon=chrome-majalpbeghfbhhndgamaibgcafogimma-Default
StartupWMClass=crx_majalpbeghfbhhndgamaibgcafogimma
